<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" formControlName="fullName" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" formControlName="username" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" formControlName="email" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" formControlName="phoneNumber" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" formControlName="password" placeholder="Enter your password" required>
          </div>
         
       
        <div class="input-box">
            <span class="details">Role</span>
            <select type = "tex" formControlName="role" class="input-box" aria-placeholder="Default select example">
                <option selected value="" >Select User Type</option>
                <option value="Customer">Customer</option>
                <option value="BusinessOwner">BusinessOwner</option>
                <option value="Admin">Admin</option>
            </select>
            <span class="text-danger" *ngIf="registerForm.controls['role'].dirty && registerForm.hasError('required','role')">*User type is required</span>
        </div>
    </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <a [routerLink]="['/login']" style="float:right;color:rgb(0, 0, 0)">Alreay Have account? Click to Login!</a>
      </form>
    </div>
  </div>

</body>
</html>
